* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f7fb;
}

.container {
  max-width: 1200px;

  padding-block: 32px;
  padding-inline: 16px;
  margin-inline: auto;
}
